In [1]:
import os
import json
import pandas as pd
import numpy as np
import tqdm
import scipy.sparse as sp

from pprint import pprint
from collections import defaultdict

DATA_PATH = 'D:\download'
with open(os.path.join(DATA_PATH, 'test_users.json'), 'r') as f:
    test_users = set(json.load(f)['users'])
    
transactions = pd.read_csv(
    os.path.join(DATA_PATH, 'transactions.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'consumption_mode': 'category',
        'ts': np.float64,
        'watched_time': np.uint64,
        'device_type': np.uint8,
        'device_manufacturer': np.uint8
    }
)

In [78]:
#Generate OLD2
OLD2=pd.read_csv(os.path.join(DATA_PATH, 'OLD2(doobuch).csv'))

In [22]:
OLD2=pd.read_csv(os.path.join(DATA_PATH, 'OLD(02.03RF).csv'))

In [9]:
from collections import Counter
max(Counter(OLD2.rating))

12.144815

In [29]:

book_exp3=pd.read_csv(os.path.join(DATA_PATH, 'book_exp3.csv'))
book_exp3['rating']=6.0

In [53]:
OLD2=OLD2.append(book_exp3)

In [41]:
book_exp3.head()

   Unnamed: 0  user_uid  element_uid  rating
0           0    301135         7185     6.0
1           1    301135         4083     6.0
2           2    301135        10158     6.0
3           3    301135         2693     6.0
4           4    301135         2181     6.0

In [79]:
OLD2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724459 entries, 0 to 9724458
Data columns (total 5 columns):
Unnamed: 0     int64
element_uid    int64
rating         float64
ts             float64
user_uid       int64
dtypes: float64(2), int64(3)
memory usage: 371.0 MB

In [58]:
transactions_exp=pd.read_csv(os.path.join(DATA_PATH, 'transactions_exp.csv'))

transactions_exp3=transactions_exp
transactions_exp3['worst']=transactions_exp3.watched_time.map(lambda x:1 if x < 0.1 and x >0.005 else 0)

transactions_exp33=transactions_exp3[transactions_exp3.worst == 1]

transactions_exp333=transactions_exp33[transactions_exp33.rating.isnull()== True]
transactions_exp333=transactions_exp333.fillna(2.0)
transactions_exp333.head()

,Unnamed: 0,Unnamed: 0.1,element_uid,user_uid,watched_time,rating,duration,feature_1,feature_2,feature_3,...,feature_5_44,smallf3,middlef3,bigf3,type_m,type_s,type_mm,longfilm,shortfilm,worst
24,24,24,3336,319767,0.043704,2.0,90,4.166108e+07,0.739609,45,...,0,0,0,1,1,0,0,0,0,1
33,33,33,3336,34784,0.039630,2.0,90,4.166108e+07,0.739609,45,...,0,0,0,1,1,0,0,0,0,1
39,39,39,3336,313840,0.025556,2.0,90,4.166108e+07,0.739609,45,...,0,0,0,1,1,0,0,0,0,1
42,42,42,3336,525419,0.008889,2.0,90,4.166108e+07,0.739609,45,...,0,0,0,1,1,0,0,0,0,1
60,60,60,3336,273211,0.013148,2.0,90,4.166108e+07,0.739609,45,...,0,0,0,1,1,0,0,0,0,1

In [80]:
OLD2=OLD2.drop(['Unnamed: 0', 'ts'],1)

In [70]:
OLD2=OLD2.drop(['worst'],1)

In [54]:
len(pd.unique(OLD2.element_uid))

9580

In [49]:
ratings_matrix.shape[0]

9580

In [12]:
transactions_exp1=pd.read_csv(os.path.join(DATA_PATH, 'transactions_exp1.csv'))

In [13]:
transactions_exp1['worst']=transactions_exp1.watched_time.map(lambda x:1 if x < 0.2 else 0)
transactions_exp1['watched']=transactions_exp1.watched_time.map(lambda x: 0 if x < 0.51 else 1)

In [14]:
transactions_exp0=transactions_exp1[transactions_exp1.worst == 1]

In [62]:

transactions_exp333=transactions_exp333.drop([
    'rating_mean',
'watched_time',    
'duration'  ,      
'feature_2'  ,   
'feature_3'  ,   
'feature_4'  ,   
'quantity'  ,    
'CM_S'  ,        
'CM_P',  
'CM_R'  ,        
'feature_5_65' , 
'feature_5_00'  ,
'feature_5_68'  ,
'feature_5_59'  ,
'feature_5_-1'  ,
'feature_5_44'  ,
'smallf3' ,      
'middlef3'  ,    
'bigf3',         
'type_m',     
'type_s'  ,      
'type_mm',
'Unnamed: 0',
'Unnamed: 0.1',
'feature_1',
'longfilm',
'shortfilm',
], 1)

In [63]:
transactions_exp333=transactions_exp333.drop([
'worst' ], 1)

In [66]:
OLD2=OLD2.append(transactions_exp333)

In [76]:
OLD2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9745576 entries, 0 to 9745575
Data columns (total 3 columns):
element_uid    int64
rating         float64
user_uid       int64
dtypes: float64(1), int64(2)
memory usage: 223.1 MB

In [85]:
OLDbase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724459 entries, 0 to 9724458
Data columns (total 3 columns):
element_uid    int64
rating         float64
user_uid       int64
dtypes: float64(1), int64(2)
memory usage: 222.6 MB

In [ ]:
OLD2=pd.read_csv(os.path.join(DATA_PATH, 'OLD2(doobuch).csv'))

In [82]:
OLDbase=pd.read_csv(os.path.join(DATA_PATH, 'OLD2(base).csv'))

In [84]:
OLDbase=OLDbase.drop(['Unnamed: 0'],1)

In [86]:
OLD2=pd.merge(OLD2, OLDbase, how='left', on=['element_uid', 'user_uid'])

In [90]:
OLD2['rating']=(OLD2['rating_x'] + OLD2['rating_y'])/2

In [92]:
OLD2=OLD2.drop(['rating_x', 'rating_y'],1)
OLD2.head()

   element_uid  user_uid    rating
0         3336    349202  8.260666
1         3336    117582  8.327081
2         3336    523833  8.374942
3         3336    571064  8.350659
4         3336    295727  8.327456

In [93]:

filtered_elements = defaultdict(set)
for user_uid, element_uid in tqdm.tqdm(transactions.loc[:, ['user_uid', 'element_uid']].values):
    if user_uid not in test_users:
        continue
    filtered_elements[user_uid].add(element_uid)
OLD2['user_uid'] = OLD2['user_uid'].astype('category')
OLD2['element_uid'] = OLD2['element_uid'].astype('category')
ratings_matrix = sp.coo_matrix(
    (OLD2['rating'].astype(np.float32) + 1,
        (
            OLD2['element_uid'].cat.codes.copy(),
            OLD2['user_uid'].cat.codes.copy()
        )
    )
)

ratings_matrix = ratings_matrix.tocsr()
sparsity = ratings_matrix.nnz / (ratings_matrix.shape[0] * ratings_matrix.shape[1])
print('Sparsity: %.6f' % sparsity)
from implicit.nearest_neighbours import TFIDFRecommender

model = TFIDFRecommender()
model.fit(ratings_matrix)
ratings_matrix_T = ratings_matrix.T.tocsr()
user_uid_to_cat = dict(zip(
    OLD2['user_uid'].cat.categories,
    range(len(OLD2['user_uid'].cat.categories))
))
element_uid_to_cat = dict(zip(
    OLD2['element_uid'].cat.categories,
    range(len(OLD2['element_uid'].cat.categories))
))
filtered_elements_cat = {k: [element_uid_to_cat.get(x, None) for x in v] for k, v in filtered_elements.items()}
result = {}

for user_uid in tqdm.tqdm(test_users):
    # transform user_uid to model's internal user category
    try:
        user_cat = user_uid_to_cat[user_uid]
    except LookupError:
        continue
    
    # perform inference
    recs = model.recommend(
        user_cat,
        ratings_matrix_T,
        N=20,
        filter_already_liked_items=True,
        filter_items=filtered_elements_cat.get(user_uid, set())
    )
    
    # drop scores and transform model's internal elelemnt category to element_uid for every prediction
    # also convert np.uint64 to int so it could be json serialized later
    result[user_uid] = [int(OLD2['element_uid'].cat.categories[i]) for i, _ in recs]
with open('answer(1).json', 'w') as f:
    json.dump(result, f)

100%|████████████████████████████| 9643012/9643012 [00:15<00:00, 642830.69it/s]

Sparsity: 0.002243

100%|███████████████████████████████████| 8670/8670 [00:00<00:00, 10175.47it/s]
100%|██████████████████████████████████| 50000/50000 [00:14<00:00, 3548.66it/s]

In [6]:
OLD2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724459 entries, 0 to 9724458
Data columns (total 4 columns):
Unnamed: 0     int64
element_uid    category
rating         float64
user_uid       category
dtypes: category(2), float64(1), int64(1)
memory usage: 228.2 MB