In [2]:
import os
import json
import pandas as pd
import numpy as np
import tqdm
import scipy.sparse as sp
from matplotlib import pyplot as plt
import seaborn as sns
import mglearn
%matplotlib inline
from IPython.display import display
from pprint import pprint

In [93]:
import os
import json
import pandas as pd
import numpy as np
import tqdm
import scipy.sparse as sp
from matplotlib import pyplot as plt
import seaborn as sns
import mglearn
%matplotlib inline
from IPython.display import display
from pprint import pprint
pd.set_option('display.max_columns', 50)
DATA_PATH='D:\download'
t_e = pd.read_csv(
    os.path.join(DATA_PATH, 'transactions_series_toregress.csv'),
    
)
t_e['DEV0']=t_e['DEV0'].astype(np.int16)
t_e['DEV1']=t_e['DEV1'].astype(np.int16)
t_e['DEV3']=t_e['DEV3'].astype(np.int16)
t_e['DEV4']=t_e['DEV4'].astype(np.int16)
t_e['DEV5']=t_e['DEV5'].astype(np.int16)
t_e['DEV6']=t_e['DEV6'].astype(np.int16)
t_e['feature_5_65']=t_e['feature_5_65'].astype(np.int16)
t_e['feature_5_00']=t_e['feature_5_00'].astype(np.int16)
t_e['feature_5_68']=t_e['feature_5_68'].astype(np.int16)
t_e['feature_5_59']=t_e['feature_5_59'].astype(np.int16)
t_e['feature_5_-1']=t_e['feature_5_-1'].astype(np.int16)
t_e['smallf3']= t_e['smallf3'].astype(np.int16)
t_e['middlef3']=t_e['middlef3'].astype(np.int16)
t_e['bigf3']=t_e['bigf3'].astype(np.int16)
t_e['CM_S']=t_e['CM_S'].astype(np.int16)
t_e['CM_P']=t_e['CM_P'].astype(np.int16)
t_e['CM_R']=t_e['CM_R'].astype(np.int16)
t_e['minus']=t_e['minus'].astype(np.int16)
t_e['feature_5_44']=t_e['feature_5_44'].astype(np.int16)
t_e['feature_3']=t_e['feature_3'].astype(np.int16)
t_e['duration']=t_e['duration'].astype(np.int16)
t_e['element_uid']=t_e['element_uid'].astype(np.int32)
t_e['user_uid']=t_e['user_uid'].astype(np.int32)

t_e=t_e.drop(['Unnamed: 0'],1)
t_e.duration= t_e.duration.map(lambda x: 5 if x == 0 else x)
t_e.watched_time_x=(t_e.watched_time_y/60)/(t_e.duration)
t_e['ts-f1']=t_e['ts-f1'].abs()
t_e[t_e.watched_time_x > 20] = t_e[t_e.watched_time_x > 20].fillna(10.0)
t_e[t_e.watched_time_x > 10] = t_e[t_e.watched_time_x > 10].fillna(8.0)
t_e.watched_time_y=(t_e.watched_time_y/60)
t_e["user_rating_mean"] = t_e.user_uid.map(t_e.groupby("user_uid").rating.mean())
from collections import Counter
coun = pd.DataFrame.from_dict(Counter(t_e['user_uid']), orient='index')
coun['user_uid']=coun.index
coun['quantity_user_views']=coun[0]

coun=coun.reset_index()

coun=coun.drop(['index'], axis=1)
coun=coun.drop([0],1)
t_e=pd.merge(t_e, coun, on='user_uid')
t_e["wt_y_user_mean"] = t_e.user_uid.map(t_e.groupby("user_uid").watched_time_y.mean())
t_e["wt_x_user_mean"] = t_e.user_uid.map(t_e.groupby("user_uid").watched_time_x.mean())
t_e["new_content"]=t_e['ts-f1'].map(lambda x: 1 if x<31 else 0)
t_e=t_e.drop(['minus'],1 )

t_e['quartile__element_views'] = pd.qcut(t_e['quantity'], 4, ['1','2','3','4'])
t_e['quartile__user_views'] = pd.qcut(t_e['quantity_user_views'], 4, ['1','2','3','4'])
t_e['quartile__duration'] = pd.qcut(t_e['duration'], 4, ['1','2','3','4'])
t_e['quartile__wtx'] = pd.qcut(t_e['wt_x_user_mean'], 4, ['1','2','3','4'])


t_e['quartile__f2'] = pd.qcut(t_e['feature_2'], 4, ['1','2','3','4'])
t_e['quartile__f4'] = pd.qcut(t_e['feature_4'], 4, ['1','2','3','4'])


t_e["Q_el_views=1"]=t_e['quartile__element_views'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_el_views=4"]=t_e['quartile__element_views'].map(lambda x: 1 if x=='4' else 0)
t_e["Q_us_views=1"]=t_e['quartile__user_views'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_us_views=4"]=t_e['quartile__user_views'].map(lambda x: 1 if x=='4' else 0)
t_e["Q_duration=1"]=t_e['quartile__duration'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_duration=4"]=t_e['quartile__duration'].map(lambda x: 1 if x=='4' else 0)
t_e["Q_wtx=1"]=t_e['quartile__wtx'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_wtx=4"]=t_e['quartile__wtx'].map(lambda x: 1 if x=='4' else 0)


t_e["Q_f2=1"]=t_e['quartile__f2'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_f2=4"]=t_e['quartile__f2'].map(lambda x: 1 if x=='4' else 0)
t_e["Q_f4=1"]=t_e['quartile__f4'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_f4=4"]=t_e['quartile__f4'].map(lambda x: 1 if x=='4' else 0)
t_e=t_e.drop(['quartile__element_views', 'quartile__user_views',  'quartile__duration', 'quartile__wtx', 'quartile__f2', 'quartile__f4'],1)
t_e['new_content']=t_e['new_content'].astype(np.int16)
t_e['Q_el_views=1']=t_e['Q_el_views=1'].astype(np.int16)
t_e['Q_el_views=4']=t_e['Q_el_views=4'].astype(np.int16)
t_e['Q_us_views=1']=t_e['Q_us_views=1'].astype(np.int16)
t_e['Q_us_views=4']=t_e['Q_us_views=4'].astype(np.int16)
t_e['Q_duration=1']=t_e['Q_duration=1'].astype(np.int16)
t_e['Q_duration=4']=t_e['Q_duration=4'].astype(np.int16)
t_e['Q_wtx=1']=t_e['Q_wtx=1'].astype(np.int16)
t_e['Q_wtx=4']=t_e['Q_wtx=4'].astype(np.int16)
t_e['Q_f2=1']=t_e['Q_f2=1'].astype(np.int16)
t_e['Q_f2=4']=t_e['Q_f2=1'].astype(np.int16)
t_e['Q_f4=1']=t_e['Q_f4=1'].astype(np.int16)
t_e['Q_f4=4']=t_e['Q_f4=1'].astype(np.int16)
t_e.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076152 entries, 0 to 1076151
Data columns (total 47 columns):
element_uid            1076152 non-null int32
user_uid               1076152 non-null int32
watched_time_x         1076152 non-null float64
rating                 245075 non-null float64
duration               1076152 non-null int64
feature_2              1076152 non-null float64
feature_3              1076152 non-null int16
feature_4              1076152 non-null float64
quantity               1076152 non-null int64
rating_mean            1053930 non-null float64
CM_S                   1076152 non-null int16
CM_P                   1076152 non-null int16
CM_R                   1076152 non-null int16
feature_5_65           1076152 non-null int16
feature_5_00           1076152 non-null int16
feature_5_68           1076152 non-null int16
feature_5_59           1076152 non-null int16
feature_5_-1           1076152 non-null int16
feature_5_44           1076152 non-null int16
smallf3                1076152 non-null int16
middlef3               1076152 non-null int16
bigf3                  1076152 non-null int16
ts-f1                  1076152 non-null float64
watched_time_y         1076152 non-null float64
DEV0                   1076152 non-null int16
DEV1                   1076152 non-null int16
DEV3                   1076152 non-null int16
DEV4                   1076152 non-null int16
DEV5                   1076152 non-null int16
DEV6                   1076152 non-null int16
user_rating_mean       743818 non-null float64
quantity_user_views    1076152 non-null int64
wt_y_user_mean         1076152 non-null float64
wt_x_user_mean         1076152 non-null float64
new_content            1076152 non-null int16
Q_el_views=1           1076152 non-null int16
Q_el_views=4           1076152 non-null int16
Q_us_views=1           1076152 non-null int16
Q_us_views=4           1076152 non-null int16
Q_duration=1           1076152 non-null int16
Q_duration=4           1076152 non-null int16
Q_wtx=1                1076152 non-null int16
Q_wtx=4                1076152 non-null int16
Q_f2=1                 1076152 non-null int16
Q_f2=4                 1076152 non-null int16
Q_f4=1                 1076152 non-null int16
Q_f4=4                 1076152 non-null int16
dtypes: float64(10), int16(32), int32(2), int64(3)
memory usage: 188.8 MB

In [94]:
import xgboost as xgb
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestRegressor
t_e=t_e.drop(['user_rating_mean'], 1)
transactions_exp=t_e


transactions_exp.rating_mean=transactions_exp.rating_mean.fillna(5.0) 

transactions_exp['worst']=transactions_exp.watched_time_x.map(lambda x:1 if (x < 0.2 and x >0.005) else 0)
transactions_exp[transactions_exp.worst == 1]=transactions_exp[transactions_exp.worst == 1].fillna(2.0)


X_train = transactions_exp[~transactions_exp.rating.isnull()]
X_train=X_train.drop(['rating'],1)
X_test = transactions_exp[transactions_exp.rating.isnull()]
X_test=X_test.drop(['rating'],1)
y_train = transactions_exp[~transactions_exp.rating.isnull()].rating.astype(np.float)
y_test = transactions_exp[transactions_exp.rating.isnull()].rating


model2 = RandomForestRegressor( n_estimators=522, max_depth=8, random_state=241, n_jobs=-1)

model2.fit(X_train, y_train)
submit1 = pd.DataFrame(model2.predict(X_test))

X_train = transactions_exp[~transactions_exp.rating.isnull()]
#X_train.rating_mean=X_train.rating_mean.fillna(6.0)
X_train=X_train.drop([
'watched_time_x',
'duration',
'feature_2',
'feature_3',
'feature_4',
'quantity',
'rating_mean',
'CM_S',
'CM_P',
'CM_R',
'feature_5_65',
'feature_5_00',
'feature_5_68',
'feature_5_59',
'feature_5_-1',
'feature_5_44',
'smallf3',
'middlef3',
'bigf3',
'ts-f1',
'watched_time_y',
'DEV0',
'DEV1',
'DEV3',
'DEV4',
'DEV5',
'DEV6',
'quantity_user_views',
'wt_y_user_mean',         
'wt_x_user_mean',
'new_content',
'Q_el_views=1',
'Q_el_views=4',
'Q_duration=1',
#'user_rating_mean',
'Q_duration=4',
'Q_wtx=1',
'Q_wtx=4',
'Q_f2=1',
'Q_f2=4',
'Q_f4=1',
'Q_f4=4',
'Q_us_views=4',
'Q_us_views=1'],1)

X_test=X_test.drop([
'watched_time_x',
'duration',
'feature_2',
'feature_3',
'feature_4',
'quantity',
'rating_mean',
'CM_S',
'CM_P',
'CM_R',
'feature_5_65',
'feature_5_00',
'feature_5_68',
'feature_5_59',
'feature_5_-1',
'feature_5_44',
'smallf3',
'middlef3',
'bigf3',
'ts-f1',
'watched_time_y',
'DEV0',
'DEV1',
'DEV3',
'DEV4',
'DEV5',
'DEV6',
'quantity_user_views',
'wt_y_user_mean',         
'wt_x_user_mean',
'new_content',
'Q_el_views=1',
'Q_el_views=4',
'Q_duration=1',
#'user_rating_mean',
'Q_duration=4',
'Q_wtx=1',
'Q_wtx=4',
'Q_f2=1',
'Q_f2=4',
'Q_f4=1',
'Q_f4=4',
'Q_us_views=4',
'Q_us_views=1'],1)
#submit[0]=submit[0].round()
#submit[0]=submit[0].astype(np.int16)
X_test=X_test.reset_index()
X_test=X_test.drop(['index'], 1)


OLD=pd.concat([X_test, submit1], 1)
#OLD.rating=OLD.rating.round()
OLD['rating']=OLD[0]
OLD=OLD.drop([0],1)

OLD=OLD.append(dobavit)
OLD.to_csv("SeriesRF4NEWbezsubmitaworst.csv")

In [95]:
transactions_exp=t_e


transactions_exp.rating_mean=transactions_exp.rating_mean.fillna(5.0) 

transactions_exp['worst']=transactions_exp.watched_time_x.map(lambda x:1 if (x < 0.2 and x >0.005) else 0)
transactions_exp=transactions_exp[transactions_exp.worst == 1]


X_test = transactions_exp
X_test=X_test.drop(['rating'],1)

submit1 = pd.DataFrame(model2.predict(X_test))
X_test=X_test.drop([
'watched_time_x',
'duration',
'feature_2',
'feature_3',
'feature_4',
'quantity',
'rating_mean',
'CM_S',
'CM_P',
'CM_R',
'feature_5_65',
'feature_5_00',
'feature_5_68',
'feature_5_59',
'feature_5_-1',
'feature_5_44',
'smallf3',
'middlef3',
'bigf3',
'ts-f1',
'watched_time_y',
'DEV0',
'DEV1',
'DEV3',
'DEV4',
'DEV5',
'DEV6',
'quantity_user_views',
'wt_y_user_mean',         
'wt_x_user_mean',
'new_content',
'Q_el_views=1',
'Q_el_views=4',
'Q_duration=1',
#'user_rating_mean',
'Q_duration=4',
'Q_wtx=1',
'Q_wtx=4',
'Q_f2=1',
'Q_f2=4',
'Q_f4=1',
'Q_f4=4',
'Q_us_views=4',
'Q_us_views=1'],1)
X_test=X_test.reset_index()
X_test=X_test.drop(['index'], 1)
OLD1=pd.concat([X_test, submit1], 1)
OLD1['rating']=OLD1[0]
OLD1=OLD1.drop([0],1)

OLD=OLD.append(OLD1)
OLD.to_csv("SeriesRF4NEWdoobuch(ostatki).csv")
print('end all good')

end all good

In [61]:
OLD1['rating']=OLD1[0]
OLD1=OLD1.drop([0],1)




OLD=OLD.append(OLD1)
OLD.to_csv("SeriesRF4NEWdoobuch(ostatki).csv")
print('end all good')

end all good

In [53]:
OO.to_csv("SeriesRF4NEWdoobuch(ostatki).csv")

In [9]:
OO = pd.read_csv("SeriesRF4NEWdoobuch(ostatki).csv")

OO=OO.drop(['Unnamed: 0'], 1)
OO=OO.append(dobavit)

In [40]:
dobavit.to_csv("dobavit.csv")

In [3]:
OO = pd.read_csv("SeriesRF4NEWdoobuch(ostatki).csv")
main = pd.read_csv("SeriesRF4NEW.csv")
OLD = pd.read_csv("SeriesRF4NEWbezsubmitaworst.csv")
OLD=OLD.drop(['Unnamed: 0', 'worst'], 1)
OO=OO.drop(['Unnamed: 0', 'worst'], 1)
main=main.drop(['Unnamed: 0', 'worst'], 1)

In [4]:
OLD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893337 entries, 0 to 893336
Data columns (total 3 columns):
element_uid    893337 non-null int64
rating         893337 non-null float64
user_uid       893337 non-null int64
dtypes: float64(1), int64(2)
memory usage: 20.4 MB

In [5]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076152 entries, 0 to 1076151
Data columns (total 3 columns):
element_uid    1076152 non-null int64
rating         1076152 non-null float64
user_uid       1076152 non-null int64
dtypes: float64(1), int64(2)
memory usage: 24.6 MB

In [52]:
OO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076152 entries, 0 to 1076366
Data columns (total 3 columns):
element_uid    1076152 non-null int64
rating         1076152 non-null float64
user_uid       1076152 non-null int64
dtypes: float64(1), int64(2)
memory usage: 32.8 MB

In [9]:
OO[OO.duplicated() == True]

Empty DataFrame
Columns: [element_uid, rating, user_uid]
Index: []

In [104]:
main

         element_uid     rating  user_uid
0               5651   8.891720    490059
1               6274   9.316618    490059
2               5791   7.826436    490059
3               5899   8.412205    490059
4               3339   8.887437    490059
5               5826   8.888321    490059
6               5651   8.923259    278741
7               5791   7.720209    278741
8               5651   8.933725    469687
9               1328   8.925642    469687
10               257   7.752102    469687
11              6606   9.339363    469687
12              2127   5.537977    469687
13              6719   8.100920    469687
14              5651   8.969732    371512
15              6464   8.998272    371512
16              5651   9.043880    566802
17              3612   7.601958    566802
18              5845   8.938483    521134
19              4417   8.581152    521134
20              9363   9.384739    521134
21              5651   8.627650     32629
22              3487   9.153337     32629
23              9363   8.996161     32629
24              5651   8.503724    205667
25              5845   8.812999    205667
26              5395   9.101135    205667
27              1498   7.992228    205667
28              7857   8.252838    205667
29              7681   7.353350     49643
...              ...        ...       ...
1076122         4343  10.000000     14865
1076123         4343  10.000000    169465
1076124         4343  10.000000    364105
1076125         8012   2.000000    489172
1076126         1517   2.000000    334436
1076127         1517   2.000000    327194
1076128         1517   2.000000    445058
1076129         1517   2.000000    435454
1076130         1517   2.000000    358244
1076131         1517   2.000000     49685
1076132         8419   2.000000    219848
1076133         8419   8.000000    536871
1076134         8419   8.000000    376335
1076135         8419   8.000000    465317
1076136         8419   8.000000    233332
1076137         8419   2.000000    198429
1076138         4851   8.000000    483345
1076139         4851   2.000000    149540
1076140         4851   2.000000    500836
1076141         4851   2.000000     51819
1076142         3590   2.000000    346136
1076143         3590   2.000000    248135
1076144         3590   2.000000    437307
1076145         3590   2.000000     85124
1076146         3590   2.000000    423064
1076147         8212   2.000000      3793
1076148         8042  10.000000    137093
1076149         8042   8.000000    327266
1076150         8042   2.000000    209043
1076151         6813   8.000000     96496

[1076152 rows x 3 columns]

In [113]:
end=pd.merge(OO, main, on=['element_uid', 'user_uid'])

In [114]:
end.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076367 entries, 0 to 1076366
Data columns (total 4 columns):
element_uid    1076367 non-null int64
rating_x       1076367 non-null float64
user_uid       1076367 non-null int64
rating_y       1076367 non-null float64
dtypes: float64(2), int64(2)
memory usage: 41.1 MB

In [116]:
end1=pd.concat([end['element_uid'], end['user_uid']],1)
end1.drop_duplicates(inplace=True)
end1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076152 entries, 0 to 1076366
Data columns (total 2 columns):
element_uid    1076152 non-null int64
user_uid       1076152 non-null int64
dtypes: int64(2)
memory usage: 24.6 MB

In [44]:
end1=pd.concat([OO['element_uid'], OO['user_uid']],1)
end2=end1[end1.duplicated(keep= 'first') == True] 
t=end2.index

In [45]:
t

Int64Index([ 895351,  896922,  897129,  898520,  898551,  900664,  902275,
             902428,  902430,  902588,
            ...
            1069574, 1070228, 1071432, 1072660, 1073283, 1073315, 1074831,
            1075092, 1075308, 1075830],
           dtype='int64', length=215)

In [46]:
for i in t:
    print(OO.iloc[i].rating)

2.2305845964812465
2.183177986445852
2.85377262430189
5.2473114463080215
2.608502683341337
2.1664473332497622
3.063095716095308
2.230039208131525
2.0226356613700958
2.602986046904213
2.0280282066604025
2.2615221060950272
2.1325299548833234
2.971463554557676
2.463156559174246
2.085772805314558
2.6239320633923997
2.219977223774728
2.137145380126422
2.1648606846262504
4.528995130505945
2.0494544262112644
1.9989215772445632
6.535667898682228
6.389132129407807
5.23177564447467
2.1091911055703454
2.7808069086022935
2.2757891904971417
2.7607231969265933
2.126927178452869
2.2549486763964364
4.301815374598588
2.3041382566595834
4.180746700125754
2.2550454843751293
2.058717661673892
2.64324528703946
4.572397967035161
2.524559222486153
2.197083341239151
2.420665984736644
1.929356464114493
2.6435321876272964
2.32305955779676
3.830275521355763
2.3119960079726023
2.113366617953477
2.1066308354254337
2.393924709600033
3.2855397950091065
2.151206178873715
3.5042837725512905
2.4695806016934414
2.03163350846465
2.4536249665443868
3.4716883413564834
4.1282189404133955
2.250716426548605
2.209754006352658
2.000928525133019
2.0324809739773064
2.3371316439169854
2.3592056216080226
2.572413701535944
2.1667405649075366
2.1164115278879794
3.616639306244968
2.026926980642425
1.9998640148442233
2.3150727179096338
2.3655916792885523
2.223430370091564
2.3883729806769223
2.512941369740449
2.438219543183496
2.6448573500763346
2.2178374645762444
3.8799987295629434
3.988306414641914
2.7338926402869683
3.0496470114760768
2.5184459653825724
2.7173710087716128
6.693597706089013
2.718865673249098
2.0512878179299605
2.6381240723949544
2.4644301831877566
2.8051946017133207
2.2169503678913816
2.2630332403899236
2.0039078442366822
2.009798711982796
2.643251074038066
2.4356552127632374
2.4157104242109084
4.7531330556336915
2.416574834234974
2.086419856399532
2.1647519755364675
3.357779992990308
2.2369785537082687
2.1444890148548157
2.6340893071881237
2.1587842505591937
2.0290192056988428
2.178574385165009
2.0044531806906125
2.0039261212578587
2.3097527528401467
2.0163912095691443
3.1408819345279757
3.5147164995650706
2.644831640501657
3.956586885475117
2.7806874155239973
2.42704294377923
2.210927010556168
3.685126227389667
2.121503504474019
2.444894600753363
2.2934596703270795
2.715721785850628
1.9749955983493783
3.1468378859931834
2.077036454337084
2.8448230440074336
3.2181956282903217
2.6190833515995084
2.3192220387827884
2.2677553681236344
2.5919726963162666
2.5162141421968505
6.327627051087951
2.5585041161397304
2.4752979064878895
2.317723913938425
2.0075220546161714
2.004085934675911
2.434664406579929
2.1893982384539257
2.321545706241232
2.002505773245558
2.742127365337492
2.6054659090444248
4.88024783811766
2.13223218168788
2.339989705426873
6.782521682730726
1.9699138336845827
4.1077018340629765
6.496979469213279
2.001112060428559
2.162117002070463
5.597487442608969
2.2949787290776085
2.232070968711036
2.429424572884886
2.2745611983592267
5.051025458520829
2.0028320677334466
3.3506501442859644
2.77623527011963
4.308083790626732
2.040647284681203
2.2352296431694043
2.5843642142762517
3.4121161420144586
2.122372964891498
2.33412902930783
2.0832772421277714
2.307467108642647
2.2573802315967675
2.116490919463601
2.5562388856817675
2.3087457866377594
3.8176671944475604
2.166735615103489
2.0306105269316337
2.3581751150987618
2.0245748058310595
1.9875599906057018
2.661211957289
2.5144129472805496
5.089318332911477
2.5106054184896824
2.448325847956427
2.4040481442160515
2.114904160931931
2.537167222238145
2.136280960396345
2.2750004028026583
2.056154893420468
3.0293472695460584
2.3558045561516763
2.3990488764182287
2.1767058065867126
4.4520150069843085
3.118898950107187
2.5874950233701632
2.1591555053617246
2.8963156291880683
2.714496412953043
2.445681489292148
2.2820631907325244
2.274297582953871
2.6909420765965946
2.2323228262496206
3.5866119208453093
2.6378068062634177
4.8755656375791325
3.0918345736554453
2.660929396367662
4.631700451629059

In [51]:
OO.iloc[t]

         element_uid    rating  user_uid
895352            80  2.017679    132717
896924          2955  2.001878    346337
897132          8947  2.155354     56864
898524          4233  2.001286    273534
898556          2104  2.004084    401585
900670          7629  2.000995    394921
902282          2127  2.001024    528634
902437          1266  2.001294    161181
902439          8060  2.000946    401958
902598          1266  2.001293    181480
904684          1226  2.000881    294590
904976          5739  2.002401    377864
905676          2429  2.002283     34089
905999          5443  2.001129    176595
906195          8771  2.003691      3941
906413          2429  2.005147    365003
907687          4630  2.001763    507209
910092          3143  2.000938    403336
910093          7542  2.000886    526550
912865          3818  2.002900    496629
913955          7677  2.048099    318486
915041          6688  2.017475    409340
915840          2383  2.000930    474452
916847          3782  2.003107    473673
916848          8771  2.002328    168403
916849          3847  2.056421    168403
918113          8452  2.000913    198471
919586          3178  2.006111    381722
920030          5845  2.002490    388010
920655          8420  2.024874    588960
...              ...       ...       ...
1053447         6606  2.004418    130813
1053721         6606  2.002857     15827
1053765         6606  2.005092    253866
1054294         7352  2.002268    114716
1056080         5826  2.004590    347060
1057158         9793  2.001038    522282
1060939         7478  2.005517    517543
1062829         9947  2.000867    333663
1063119         9494  2.000971    183028
1063579          837  2.001727    101529
1064179         4962  2.002635    276308
1065019         2235  2.001622     95910
1065841         5751  2.008363       557
1066032         8673  2.000929    431571
1066077         8673  2.031075    165128
1066351         5081  2.001533    492090
1067307         6643  2.021982    512701
1067374         7770  2.002501      4103
1067747         3042  2.000992    191049
1068612         3436  2.001092    444761
1069780          486  2.000855    238921
1070435            3  2.002828    137909
1071640         1283  2.001043    442451
1072869         7363  2.000829    534486
1073494         8306  2.001082    364231
1073526         4039  2.001222    232798
1075043         9139  2.020630    515166
1075305          570  2.031104    498450
1075522         3819  2.051179     35399
1076045         9222  2.001485     90323

[215 rows x 3 columns]

In [50]:
OO=OO.drop(index=t)

In [39]:
OO[OO.element_uid == 5175][  OO.user_uid == 380159]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

        element_uid     rating  user_uid
653537         5175  10.000000    380159
896922         5175   2.183178    380159